<div class="container-xl dashboard-container"><div class="row row-cols-1 row-cols-md-2">
<div class="col"><app-difficulty></app-difficulty></div>
<div class="col"><app-difficulty [initialMode]="'rewards'"></app-difficulty></div>
<div class="col" style="margin-bottom:1.47rem"><div class="card"><div class="card-body ps-2 pe-2"><app-pool-ranking [height]="poolGraphHeight" [widget]="true" [capabilityUnavailable]="true"></app-pool-ranking></div></div></div>
<div class="col" style="margin-bottom:1.47rem"><div class="card"><div class="card-body ps-lg-3 pe-lg-3 ps-2 pe-2"><app-hashrate-chart [height]="poolGraphHeight" [widget]="true" [capabilityUnavailable]="true"></app-hashrate-chart></div></div></div>
</div></div>