<div class="fee-estimation-wrapper" *ngIf="(isLoading$ | async) === false && (recommendedFees$ | async) as recommendedFees; else loadingFees">
  <div class="d-flex">
    <div class="fee-progress-bar" [style.background]="noPriority">
      <span class="fee-label" i18n="fees-box.no-priority" placement="top">No Priority</span>
    </div>
    <div class="band-separator fill"></div>
    <div class="fee-progress-bar priority" [style.background]="gradient">
      <span class="fee-label prority" i18n="fees-box.low-priority" placement="top">Low Priority</span>
      <span class="fee-label prority" i18n="fees-box.medium-priority" placement="top">Medium Priority</span>
      <span class="fee-label prority" i18n="fees-box.high-priority" placement="top">High Priority</span>
    </div>
  </div>

  <div class="fee-estimation-container">
    <div class="item">
      <div class="card-text">
        <div class="fee-text"><app-fee-rate [fee]="recommendedFees.economyFee" [dp]="1"></app-fee-rate></div> <span class="fiat"><app-fiat i18n-ngbTooltip="Transaction fee tooltip" ngbTooltip="Based on average legacy transaction of 226 bytes" placement="bottom" [value]="recommendedFees.economyFee * 226" ></app-fiat></span>
      </div>
    </div>
    <div class="band-separator"></div>
    <div class="item">
      <div class="card-text">
        <div class="fee-text"><app-fee-rate [fee]="recommendedFees.hourFee" [dp]="1"></app-fee-rate></div> <span class="fiat"><app-fiat i18n-ngbTooltip="Transaction fee tooltip" ngbTooltip="Based on average legacy transaction of 226 bytes" placement="bottom" [value]="recommendedFees.hourFee * 226" ></app-fiat></span>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="fee-text"><app-fee-rate [fee]="recommendedFees.halfHourFee" [dp]="1"></app-fee-rate></div> <span class="fiat"><app-fiat i18n-ngbTooltip="Transaction fee tooltip" ngbTooltip="Based on average legacy transaction of 226 bytes" placement="bottom" [value]="recommendedFees.halfHourFee * 226" ></app-fiat></span>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="fee-text"><app-fee-rate [fee]="recommendedFees.fastestFee" [dp]="1"></app-fee-rate></div> <span class="fiat"><app-fiat i18n-ngbTooltip="Transaction fee tooltip" ngbTooltip="Based on average legacy transaction of 226 bytes" placement="bottom" [value]="recommendedFees.fastestFee * 226" ></app-fiat></span>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingFees>
  <div class="d-flex">
    <div class="fee-progress-bar" [style.background]="noPriority">
      <span class="fee-label" i18n="fees-box.no-priority">No Priority</span>
    </div>
    <div class="band-separator fill"></div>
    <div class="fee-progress-bar priority" [style.background]="gradient">
      <span class="fee-label prority" i18n="fees-box.low-priority">Low Priority</span>
      <span class="fee-label prority" i18n="fees-box.medium-priority">Medium Priority</span>
      <span class="fee-label prority" i18n="fees-box.high-priority">High Priority</span>
    </div>
  </div>
  <div class="fee-estimation-container loading-container">
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="band-separator"></div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
  </div>
</ng-template>
