<ng-container *ngIf="!capabilityUnavailable; else unavailable"><app-indexing-progress *ngIf="!widget"></app-indexing-progress>

<div [class]="widget === false ? 'full-container' : ''">

  <div *ngIf="widget">
    <div class="pool-distribution" *ngIf="(hashrateObservable$ | async) as hashrates; else loadingStats">
      <div class="item">
        <h5 class="card-title" i18n="mining.hashrate">Estimated hashrate (1d)</h5>
        <p class="card-text">
          {{ hashrates.currentHashrate | amountShortener: 3 : 'H/s' : false : true }}
        </p>
      </div>
      <div class="item">
        <h5 class="card-title" i18n="block.difficulty">Difficulty (daily average)</h5>
        <p class="card-text" *ngIf="network === 'signet'">
          {{ hashrates.currentDifficulty | amountShortener : 5 }}
        </p>
        <p class="card-text" *ngIf="network !== 'signet'">
          {{ hashrates.currentDifficulty | amountShortener : 2 }}
        </p>
      </div>
    </div>
  </div>

  <div class="card-header mb-0 mb-md-4" [style]="widget ? 'display:none' : ''">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="mining.hashrate-difficulty">Hashrate & Difficulty</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>  

    <small class="text-muted" *ngIf="(hashrateObservable$ | async) as stats">Latest 30 complete days · daily estimates</small>
  </div>

  <div [class]="!widget ? 'chart' : 'chart-widget'" *browserOnly [style]="{ height: widget ? ((height + 20) + 'px') : null, opacity: isLoading ? 0.5 : 1 }" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)">
  </div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>

<ng-template #loadingStats>
  <div class="pool-distribution">
    <div class="item">
      <h5 class="card-title" i18n="mining.hashrate">Hashrate</h5>
      <p class="card-text">
        <span class="skeleton-loader skeleton-loader-big"></span>
      </p>
    </div>
    <div class="item">
      <h5 class="card-title" i18n="block.difficulty">Difficulty (daily average)</h5>
      <p class="card-text">
        <span class="skeleton-loader skeleton-loader-big"></span>
      </p>
    </div>
  </div>
</ng-template>
</ng-container>
<ng-template #unavailable><h5 class="card-title">{{unavailableTitle}}</h5><div class="chart-widget d-flex align-items-center justify-content-center text-center text-secondary px-3" [style.height.px]="height">{{unavailableReason}}</div></ng-template>