<app-block-overview-graph
  #blockGraph
  [isLoading]="!observedSample && ((isLoading$ | async) || !stateService.isBrowser)"
  [unavailable]="observedSample && (stateService.connectionState$ | async) !== 2"
  [resolution]="resolution"
  [blockLimit]="stateService.blockVSize"
  [orientation]="timeLtr ? 'right' : 'left'"
  [flip]="true"
  [showFilters]="showFilters"
  [filterFlags]="filterFlags"
  [filterMode]="filterMode"
  [gradientMode]="gradientMode"
  [excludeFilters]="['nonstandard']"
  [overrideColors]="overrideColors"
  (txClickEvent)="onTxClick($event)"
></app-block-overview-graph>
