<ng-container *ngIf="!noFiat && ignoreViewMode === false && (viewAmountMode$ | async) === 'fiat'; else viewFiatVin">
 <ng-container *ngIf="!forceBlockConversion || blockConversion; else priceUnavailable"><app-fiat [value]="+satoshis" [blockConversion]="blockConversion" [digitsInfo]="digitsInfo"></app-fiat></ng-container>
 <ng-template #priceUnavailable><span title="Historical price unavailable">—</span></ng-template>
</ng-container>

  <ng-template #viewFiatVin>
  <ng-template [ngIf]="(network === 'liquid' || network === 'liquidtestnet') && (satoshis === undefined || satoshis === null)" [ngIfElse]="default">
    <span i18n="shared.confidential">Confidential</span>
  </ng-template>
  <ng-template #default>
    @if ((viewAmountMode$ | async) === 'btc' || (viewAmountMode$ | async) === 'fiat' || ignoreViewMode === true) {
      &lrm;{{ exactAmount() }}
      <span class="symbol" [style]="unitStyle">
        <ng-container *ngTemplateOutlet="prefix"></ng-container>DOGE
      </span>
    } @else {
      {{ exactAmount(true) }}
      <span class="symbol" [style]="unitStyle">
        <ng-container *ngTemplateOutlet="prefix"></ng-container>koinu
      </span>
    }
  </ng-template>
</ng-template>

<ng-template #prefix>
  <ng-template [ngIf]="network === 'liquid' && !forceBtc">L</ng-template>
  <ng-template [ngIf]="network === 'liquidtestnet'">tL</ng-template>
  <ng-template [ngIf]="network === 'testnet'">t</ng-template>
  <ng-template [ngIf]="network === 'testnet4'">t</ng-template>
  <ng-template [ngIf]="network === 'signet'">s</ng-template>
</ng-template>
